Repository JoinalRodrigues/movie-application-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-front-end-job, deploy-front-end-job, build-api-gateway-job, test-api-gateway-job, package-api-gateway-job, deploy-api-gateway-job, build-user-authentication-job, test-user-authentication-job, package-user-authentication-job, deploy-user-authentication-job, build-eureka-server-1-job, test-eureka-server-1-job, package-eureka-server-1-job, deploy-eureka-server-1-job, build-eureka-server-2-job, test-eureka-server-2-job, package-eureka-server-2-job, deploy-eureka-server-2-job, build-push-notification-job, test-push-notification-job, package-push-notification-job, deploy-push-notification-job, build-recommended-service-job, test-recommended-service-job, package-recommended-service-job, deploy-recommended-service-job, build-user-movie-job, test-user-movie-job, package-user-movie-job, deploy-user-movie-job

Path conditions:
  package-front-end-job: any of: front-end/**/*
  deploy-front-end-job: any of: front-end/**/*
  build-api-gateway-job: any of: api-gateway/**/*, front-end/**/*
  test-api-gateway-job: any of: api-gateway/**/*, front-end/**/*
  package-api-gateway-job: any of: api-gateway/**/*, front-end/**/*
  deploy-api-gateway-job: any of: api-gateway/**/*, front-end/**/*
  build-user-authentication-job: any of: user-authentication/**/*
  test-user-authentication-job: any of: user-authentication/**/*
  package-user-authentication-job: any of: user-authentication/**/*
  deploy-user-authentication-job: any of: user-authentication/**/*
  build-eureka-server-1-job: any of: eureka-server-1/**/*
  test-eureka-server-1-job: any of: eureka-server-1/**/*
  package-eureka-server-1-job: any of: eureka-server-1/**/*
  deploy-eureka-server-1-job: any of: eureka-server-1/**/*
  build-eureka-server-2-job: any of: eureka-server-2/**/*
  test-eureka-server-2-job: any of: eureka-server-2/**/*
  package-eureka-server-2-job: any of: eureka-server-2/**/*
  deploy-eureka-server-2-job: any of: eureka-server-2/**/*
  build-push-notification-job: any of: push-notification/**/*
  test-push-notification-job: any of: push-notification/**/*
  package-push-notification-job: any of: push-notification/**/*
  deploy-push-notification-job: any of: push-notification/**/*
  build-recommended-service-job: any of: recommended-service/**/*
  test-recommended-service-job: any of: recommended-service/**/*
  package-recommended-service-job: any of: recommended-service/**/*
  deploy-recommended-service-job: any of: recommended-service/**/*
  build-user-movie-job: any of: user-movie/**/*
  test-user-movie-job: any of: user-movie/**/*
  package-user-movie-job: any of: user-movie/**/*
  deploy-user-movie-job: any of: user-movie/**/*

testing front-end-deploy
  recommended-service/src/main/java/com/niit/recommended/service/RecommendedForUserImpl.java
Due: build-recommended-service-job, test-recommended-service-job, package-recommended-service-job, deploy-recommended-service-job

front-end-deploy-test
  front-end/README.md
Due: package-front-end-job, deploy-front-end-job, build-api-gateway-job, test-api-gateway-job, package-api-gateway-job, deploy-api-gateway-job

ting front-end-deploy
  front-end/README.md
Due: package-front-end-job, deploy-front-end-job, build-api-gateway-job, test-api-gateway-job, package-api-gateway-job, deploy-api-gateway-job

removing unecssary code
  .gitlab-ci.yml
  api-gateway/src/main/java/com/niit/apigateway/filter/AdminUrlsFilter.java
Due: build-api-gateway-job, test-api-gateway-job, package-api-gateway-job, deploy-api-gateway-job

deploy front end
  front-end/src/app/Authentication/sign-in/sign-in.component.ts
  front-end/src/app/app-routing.module.ts
  front-end/src/app/app.component.ts
  front-end/src/app/footer/footer.component.css
  front-end/src/app/footer/footer.component.html
  front-end/src/app/header/navbar/navbar.component.css
  front-end/src/app/header/navbar/navbar.component.html
  front-end/src/app/header/navbar/navbar.component.ts
  front-end/src/app/home/home.component.css
  front-end/src/app/home/home.component.html
  front-end/src/app/pages/favourite-movies/favourite-movies.component.css
  front-end/src/app/pages/favourite-movies/favourite-movies.component.html
  front-end/src/app/pages/movie-details/movie-details.component.html
  front-end/src/app/pages/notification/notification.component.html
  front-end/src/app/pages/recommended/recommended.component.html
  front-end/src/app/pages/search/search.component.css
  front-end/src/app/pages/search/search.component.html
  front-end/src/app/pages/search/search.component.ts
  front-end/src/app/service/auth-service.service.ts
  front-end/src/app/service/movie-api-service.service.ts
Due: package-front-end-job, deploy-front-end-job, build-api-gateway-job, test-api-gateway-job, package-api-gateway-job, deploy-api-gateway-job
